/.metadata
/.recommenders
/RemoteSystemsTempFiles
/Discord4j-2.7.0-shaded.jar
/DiscordLogSaver/bin
/DiscordLogSaver/modules
/DiscordLogSaver/.classpath
/DiscordLogSaver/.project
/DiscordLogSaver/.settings
